html, body {
    font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #F8FAFC;
}

.border-b {
    border-bottom: 1px solid #E2E8F0 !important;
}

.border-t {
    border-top: 1px solid #E2E8F0 !important;
}

.rounded-xl {
    border-radius: 16px !important;
}

.h-100 {
    height: 100%;
}

.text-left {
    text-align: left !important;
}

/* Error boundary */
.blazor-error-boundary {
    background: #EF4444;
    padding: 1rem;
    color: white;
    border-radius: 8px;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}

#blazor-error-ui {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: #EF4444;
    color: white;
    text-align: center;
    z-index: 9999;
}

#blazor-error-ui .reload {
    color: white;
    text-decoration: underline;
    margin-left: 1rem;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    margin-left: 1rem;
}
